@charset "UTF-8";

//import the colour scheme examples
@import 'example_colours/colour-1';
@import 'example_colours/colour-2';
@import 'example_colours/colour-3';
@import 'example_colours/colour-4';

.showcase-example-colour-preview {
	margin-left: 1rem;

	> span {
		border: 1px solid black;
		display: inline-block;
		width: 19px;
		height: 19px;
	}
}

.showcase-top-colour-changer {
	background-color: #f3f2f1;
}

// Get logo to match colour of header link text
.govuk-header__logotype {
	path {
		fill: var(--header-link);
	}
}
// Whether the filter should be inverted or not (yes on default cookie cake brand)
a:focus {
	.govuk-header__logotype {
		filter: invert(1) hue-rotate(180deg);
	}
}
